
@{
    Layout = "~/Views/_LayoutPage2.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbar-brand-centered">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Doktorlarımız", "Doktor", "Doktor", null, new { @class = "btn btn-block" })</li>
                    <li>@Html.ActionLink("Sağlık Hizmetlerimiz", "SaglikHizmetleri", "Anasayfa", null, new { @class = "btn btn-block" })</li>
                    <li>@Html.ActionLink("Randevu Al", "RandevuAl", "RandevuAl", null, new { @class = "btn btn-block" })</li>
                </ul>
                <ul class="nav navbar-nav navbar-brand-centered" id="bar">
                    <li>@Html.ActionLink("Ana Sayfa", "Anasayfa", "Anasayfa", null, new { @class = "btn btn-block" })</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Laboratuvar Sonuçları", "Anasayfa", "Anasayfa", null, new { @class = "btn btn-block" })</li>
                    <li>@Html.ActionLink("Tahlil Sonuçları", "Anasayfa", "Anasayfa", null, new { @class = "btn btn-block" })</li>
                    <li>@Html.ActionLink("İletişim", "Anasayfa", "Anasayfa", null, new { @class = "btn btn-block" })</li>
                </ul>
            </div>
        </div>
    </nav>








    <div>
        @RenderBody()
    </div>

    <style>
        .navbar-brand-centered {
            position: absolute;
            left: 53%;
        }

        .navbar > .container .navbar-brand-centered,
        .navbar > .container-fluid .navbar-brand-centered {
            margin-left: -80px;
        }

        body {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    </style>

</body>
</html>
